* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

/* html body {
    margin: 0px auto;
    background-color:#ebebeb;
}
 */
body {
        height: 100%;
        margin: 0;
        padding: 0;
}
#map {
  height: 100%;
}
.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:320px;
}

.content-padding {
	margin-top: 16px;
	margin-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
}

.content_text {
	font-weight:bold;
	font-size:5em;
	color:#fff;
}